### Intellij ###
.idea/
*.iws
*.iml
/out/
.idea_modules/
atlassian-ide-plugin.xml

### Eclipse ###
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Code Recommenders
.recommenders/


### VisualStudioCode ###
.vscode

### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Tenant specific artifacts
/debug
**/debug.test

# Tenant binaries
bin/

# Glide package manager
.glide
vendor/

# Generated assets
app/
assets/js/
bindata_assetfs.go
client/
swagger/
tool/cli/
migration/sqlbindata.go
environment/generated/
auth/client

# Ignore artifacts directory
bin/

#Ignore dynamically downloaded templates
template/fabric8-tenant-che-mt-openshift.yml
template/fabric8-tenant-che-openshift.yml
template/fabric8-tenant-che-quotas-oso-openshift.yml
template/fabric8-tenant-jenkins-openshift.yml
template/fabric8-tenant-jenkins-quotas-oso-openshift.yml
template/fabric8-tenant-team-openshift.yml
template/fabric8-tenant-che-kubernetes.yml
template/fabric8-tenant-che-mt-kubernetes.yml
template/fabric8-tenant-jenkins-kubernetes.yml
template/fabric8-tenant-team-kubernetes.yml
template/fabric8-tenant-expose-kubernetes.yml

